html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #FAD3D8;
    color: #23485B;
}

.labels {
    font-family: "Newsreader";
    font-weight: 400;
    text-align: center;
    padding-top: 10rem;
    margin: 0;
}

.blossom_poem {
    text-align: center;
    font-size: 7rem;
    font-style: italic;
    font-weight: 300;
    padding: 15rem;
    margin: 0;
}

.blossom_ref {
    text-align: center;
    line-height: 2rem;
    padding: 20rem;
}

/** ------------------------------------ **/

.blossom_artwork {
    background-color: #1D7020;
    color: #FAD3D8;
    padding-bottom: 500px;
}

.blossom_block1,
.blossom_block2,
.blossom_block3,
.blossom_block4 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 100;
}

.blossom_block1 {
    position: relative;
    top: 12vh;
    left: 21vw;
    width: 20vw;
}

.blossom_block2 {
    position: relative;
    top: 15vh;
    left: 40vw;
    width: 12vw;
}

.blossom_block3 {
    position: relative;
    top: 18vh;
    right: -55vw;
    width: 27vw;
}

.blossom_block4 {
    position: relative;
    top: 40vh;
    right: -70vw;
    width: 20vw;
}











@media all and (max-width : 768px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        background-color: #FAD3D8;
        color: #23485B;
    }

    .labels {
        font-family: "Newsreader";
        font-weight: 400;
        text-align: center;
        padding-top: 7rem;
        margin: 0;
    }

    .blossom_poem {
        text-align: center;
        font-size: 3.5rem;
        font-style: italic;
        font-weight: 300;
        padding: 4.45rem;
        margin: 0;
    }

    .blossom_ref {
        text-align: center;
        line-height: 2rem;
        padding: 15rem;
    }

    /** ------------------------------------ **/

    .blossom_artwork {
        background-color: #1D7020;
        color: #FAD3D8;
        padding-bottom: 500px;
    }

    .blossom_block1,
    .blossom_block2,
    .blossom_block3,
    .blossom_block4 {
        font-size: 1.5rem;
        line-height: 1.7rem;
        font-weight: 100;
    }

    .blossom_block1 {
        position: relative;
        top: 12vh;
        left: 15vw;
        width: 40vw;
    }

    .blossom_block2 {
        position: relative;
        top: 20vh;
        left: 40vw;
        width: 25vw;
    }

    .blossom_block3 {
        position: relative;
        top: 30vh;
        right: -50vw;
        width: 40vw;
    }

    .blossom_block4 {
        position: relative;
        top: 45vh;
        right: -60vw;
        width: 33vw;
    }
}








@media all and (max-width : 320px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        background-color: #FAD3D8;
        color: #23485B;
    }

    .labels {
        font-family: "Newsreader";
        font-weight: 400;
        text-align: center;
        padding-top: 5rem;
        margin: 0;
        font-size: 1rem;
    }

    .blossom_poem {
        text-align: center;
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
        padding: 4.5rem;
        margin: 0;
    }

    .blossom_ref {
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 4rem;
    }

    /** ------------------------------------ **/

    .blossom_artwork {
        background-color: #1D7020;
        color: #FAD3D8;
        padding-bottom: 400px;
    }

    .blossom_block1,
    .blossom_block2,
    .blossom_block3,
    .blossom_block4 {
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 100;
    }

    .blossom_block1 {
        position: relative;
        top: 12vh;
        left: 17vw;
        width: 45vw;
    }

    .blossom_block2 {
        position: relative;
        top: 20vh;
        left: 40vw;
        width: 30vw;
    }

    .blossom_block3 {
        position: relative;
        top: 27vh;
        right: -49vw;
        width: 40vw;
    }

    .blossom_block4 {
        position: relative;
        top: 40vh;
        right: -50vw;
        width: 40vw;
    }
}